*.o
netsim
*.asv
*.bin
*.DS_Store
.vscode/launch.json
.vscode/settings.json
*pyc
/sbi-logs/
temp.parameters
*.png
*.pkl
/temp*
pyNetsim.egg-info/*
*.code-workspace
*params.txt
sci.dat
*.code-workspace
data/
obj/
00000002params.txt
tests/unit/*.out
test1.csv
tests/unit/test_rng
build